@use './sass/variables' as *;

html {
  box-sizing: inherit;
  font-family: 'Inter', sans-serif;
  font-size: $font-size;

  @media (min-width: map-get($breakpoints, 'sm')) {
    font-size: $font-size * 1.1;
  }

  @media (min-width: map-get($breakpoints, 'md')) {
    font-size: $font-size * 1.3;
  }

  @media (min-width: map-get($breakpoints, 'lg')) {
    font-size: $font-size * 1.37;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include flexCenter;
  min-height: 100vh;
  overflow: hidden;
}

#app {
  width: 100vw;
  height: 100vh;

  @media (min-width: map-get($breakpoints, 'sm')) {
    width: 85vw;
    height: 85vh;
  }

  @media (min-width: map-get($breakpoints, 'md')) {
    background: transparent;
    display: flex;
    flex-direction: row-reverse;
    width: 95vw;
    align-items: center;
  }

  @media (min-width: map-get($breakpoints, 'lg')) {
    max-width: 1027px;
    max-height: 556px;
  }

  .image__container {
    height: 50%;
    background: url(./img/pattern-bg.svg) center/contain no-repeat;
    @include flexCenter;

    @media (min-width: map-get($breakpoints, 'sm')) {
      background-size: 60%;
    }

    @media (min-width: map-get($breakpoints, 'md')) {
      width: 50%;
      height: 80%;
      justify-content: flex-start;
      background-image: none;
    }

    .hero {
      height: 14rem;
      width: 14rem;
      border-radius: 0.4rem;
      position: relative;
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);

      @media (min-width: map-get($breakpoints, 'sm')) {
        height: 14rem;
        width: 14rem;
      }

      @media (min-width: map-get($breakpoints, 'md')) {
        height: 16rem;
        width: 15rem;
        position: relative;

        &::before {
          content: '';
          background: url(./img/pattern-bg.svg) center/cover no-repeat;
          width: 120%;
          height: 120%;
          position: absolute;
          top: -15%;
          left: -5%;
          z-index: -1;
        }
      }

      @media (min-width: map-get($breakpoints, 'lg')) {
        height: 17rem;
        width: 17rem;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.4rem;
      }

      #switch-area {
        width: 35%;
        height: 15%;
        background: #fff;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
        position: absolute;
        bottom: -15%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
        border-radius: 3rem;
        overflow: hidden;
        display: flex;

        @media (min-width: map-get($breakpoints, 'md')) {
          height: 10%;
          width: 25%;
          bottom: -10%;
          left: 25%;
        }

        .pre {
          display: block;
          width: 50%;
          height: 100%;
          background-image: url(./img/icon-prev.svg);
          background-repeat: no-repeat;
          background-position: center;
          cursor: pointer;
        }

        .next {
          @extend .pre;
          background-image: url(./img/icon-next.svg);
        }
      }
    }
  }

  .quote__container {
    width: 100%;
    height: 50%;
    background: url(./img/pattern-curve.svg) no-repeat;
    background-position: bottom left;
    background-size: 90%;

    @media (min-width: map-get($breakpoints, 'sm')) {
      background-size: 70%;
    }

    @media (min-width: map-get($breakpoints, 'md')) {
      width: 50%;
      height: 80%;
      background-color: transparent;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    #quote {
      margin: 1rem auto 0;
      padding: 1rem;
      text-align: center;
      background: url(./img/pattern-quotes.svg) no-repeat;
      background-position: top;
      background-size: 20%;
      color: $Dark-Blue !important;
      font-weight: normal;

      @media (min-width: map-get($breakpoints, 'sm')) {
        background-size: 15%;
        width: 80%;
        margin: 1rem auto 0;
      }

      @media (min-width: map-get($breakpoints, 'md')) {
        font-size: $font-size * 1.1;
        margin: 0;
        text-align: left;
        width: 120%;
        background-position: 10% top;
        background-size: 18% 30%;
        line-height: 1.3;
        position: relative;
        font-size: 1rem;
        padding: 0 0 0 0.3rem;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
      }

      @media (min-width: map-get($breakpoints, 'lg')) {
        line-height: 1.5;
        background-size: 20% 50%;
      }
    }

    .info {
      display: flex;
      flex-direction: column;

      @media (min-width: map-get($breakpoints, 'md')) {
        flex-direction: row;
        margin-top: 1em;
        align-items: flex-end;
      }

      #name {
        text-align: center;
        font-weight: 900;
        color: $Dark-Blue;
        font-size: 1rem;
        margin-bottom: 0.2rem;
        display: inline;

        @media (min-width: map-get($breakpoints, 'md')) {
          text-align: left;
          margin-left: 0.3rem;
          margin-bottom: 0;
        }
      }

      #job {
        font-weight: 500;
        color: $Grayish-Blue;
        text-align: center;

        @media (min-width: map-get($breakpoints, 'md')) {
          width: fit-content;
          margin-left: 0.5rem;
          font-size: 0.9rem;
        }
      }
    }
  }
}
